version: '3.8'

services:
    php:
      build:
        context: .
        dockerfile: Dockerfile
      ports:
        - 80:80
      volumes:
        - /var/www/html:/var/www/html
      container_name: php56-apache
      depends_on:
        - db
      restart: always
      links:
        - db

    db:
      image: mysql/mysql-server:5.6.51
      container_name: mysql56-db
      restart: always
      ports:
        - 3306:3306
      volumes:
        - /var/lib/mysql:/var/lib/mysql
      environment:
             - MYSQL_ROOT_PASSWORD=mysqlrootpassword
             - MYSQL_DATABASE=wpbase
             - MYSQL_USER=wpuser
             - MYSQL_PASSWORD=wppassword
